<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="ARstyle.css">
    <link rel="stylesheet" href="../fonts-6/css/all.css">
    <title>Archive</title>
    <a href="/">Back</a>
</head>

<body>
        <h1 class="title">Rekaman <i class="fa-solid fa-compact-disc"></i></h1>
    <div id="container">
        <div id="list-container"></div>
    </div>
   
</body>
<script src="ARscript.js" type="module"></script>

</html>
